@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root{
    --cor1: #2135FF;
    --cor2: #173BE8;
    --cor3: #2580FF;
    --cor4: #17A2E8;
    --cor5: #2BECFF;
    --cor-header:#506266;

    --fonte-rodape: 'Kanit', sans-serif;
    --fonte-destaque: 'Mulish';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-destaque);
    
}

body{
    width: 100%;
    max-width: 100%;
    background: linear-gradient(328deg, #020024 0%, #2135ff 0%, #21ffdd 100%);
    z-index: 1;
    transition: 0.3s ease-out;
    overflow-x: hidden;
    overscroll-behavior: none;
    background-size: cover;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu-bar{
    color: white;
    background-color: var(--cor-header);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 60px;
    opacity: 0.9;
    z-index: 2;
    
}

.logo{
    cursor: pointer;
    text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.61)  ;
    margin-left: 1em;
    width: 2em;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bolder;
}

.logo:hover{
    color: #e8f719;
    text-shadow: 0px 1px 10px #e8f71970;
    transition: 0.5s ease;
}

.menu-icon{
    cursor: pointer;
    display: flex;
}

@keyframes fade{
    0% {opacity: 0}
    100% {opacity : 1}
}

.navegation{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1.5em;
    padding: 0px;
    background-color: var(--cor-header);
   
}

.navegation > li, a{
    display: flex;
    position: relative;
    padding: 0px;
    color: white;
    cursor: pointer;
    width: max-content;
    transition: all 0.2s;
    text-decoration: none;
}

.navegation > li, a:hover{
    color: #e8f719;
}

.navegation > li::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 2px;
    bottom: -4px;
    border-radius: 2px;
    left: 0px;
    background-image: linear-gradient(90deg, var(--cor-header), #e8f719, var(--cor-header));
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
}

.navegation > li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}

.btn1{
    position: relative;
    margin-right: 1.1em;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: 2px solid #17A2E8;;
    padding: 8px 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: 1s all ease;
    box-shadow: 0px 1px 10px #17A2E8;
}

.btn1::before{ 
    background-color:#17A2E8;;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    z-index: -1;
    transition: all 0.6s ease;
    width: 100%;
    height: 0%;

}

.btn1:hover::before{
    height: 380%;
    
}

section:not(.sectionImg){
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    margin: auto;
    place-items: center;
}

.sectionTop h1{
    font-size: 4em;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 2rem;
    position: absolute;
    top: 10vw;
    left: 10vw;
    z-index: 1;
    overflow-wrap: break-word;
    hyphens: auto;
}

.sectionTop span{
    display: block;
}

.sectionTop p {
    position: absolute;
    right: 5vw;
    text-align: justify;
    color: white;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.664);
    font-size: 1.2em;
    width: 250px;
    line-height: 1.5;
}


.sectionImg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
    height: 720px;
    width: 100vw;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.61);
    background-image: linear-gradient( -45deg, var(--cor-header) 40%, transparent);
   
}

.textSlide{
    
    padding: 1em;
    max-width: 450px;
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 0px 1px 7px #e8f719;
}
.textSlide > h2{
    text-align: justify;
    font-weight: 600;
    font-size: 3.2rem;
    color: #e8f719;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.349);
}

.textSlide > h3{
    color: white;
    font-size: 2em;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.349);
}

.textSlide span {
    color: #3fbdfc;
    
    text-shadow: 0px 1px 8px #3fbdfc46;
}
.corpoSlide{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    margin: 4px;
    gap:10px;
    max-width: 500px;
    transition: all 0.2s;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card{
    padding: 4px;
    min-width: 500px;
    color: white;
    display: flex;
    font-size: 48px;
    transition: all 0.2s;
    scroll-snap-align: start;
}

.card figure {
    margin: 0px;
    cursor: move;
    cursor: grab;
}

.card figure:active {
    cursor: grabbing;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.corpoSlide::-webkit-scrollbar {
    width: 8px;
}

.corpoSlide::-webkit-scrollbar-track {
    background: white;
    border-radius: 6px;
}

.corpoSlide::-webkit-scrollbar-thumb {
    background: #0c95da;
    border-radius: 5px;
}

.corpoSlide::-webkit-scrollbar-thumb:hover {
    background: #0c95da;
} 

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#353d3f;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    color: #e8f719;
    font-size: 1.5em;
    z-index: 1;
}

.rodape > p {
    font-family: var(--fonte-rodape);
    font-weight: 500;
}

.rodape a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-style: italic;
}

.rodape a:hover{
    color: var(--cor4);
    transition: 0.4s ease;
}


/*Media Screen*/

@media (max-width: 768px) {

    .sectionTop h1{
        font-size: 10.5vw;
    }


}

@media (max-width: 400px){
    
    .sectionTop p {
        font-size: 4vw;
        width: 200px;
    }
}

@media (min-width:600px){
    .menu-icon{
        display: none;
    }

  
}

@media (max-width:600px){

    .navegation{
        display: none;
    }

    .menu-icon{
        display: block;
        margin-right: 2em;
    }

    .btn1{
        display: none;
    }

    .btn1--mobile{
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 670%;
        margin-left: 3.4%;
        z-index: 1;
        width: 155px;
        animation:  fade 1s ease-in 1 forwards;
    }

    
    .navegation--mobile{
        align-items: center;
        top: 60px;
        position: absolute;
        display: flex;
        padding: 20px;
        background-color: var(--cor-header);
        width: 100%;
        height: calc(100vh - 60px);
        gap: 8px;
        flex-direction: column;
        animation: fade 1s ease-in 1 forwards;
        opacity: 0.9;
    }

    .navegation--mobile li {
        font-size: 1.2em;
        margin-top: 1em;
        padding-top: 1em;
    }

    .btn1{
    position: relative;
    margin-right: 1.1em;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: 2px solid #17A2E8;;
    padding: 8px 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: 1s all ease;
    box-shadow: 0px 1px 10px #17A2E8;
    }

}


@media (max-width:1110px){
    .sectionImg{
    display: grid;
    justify-content: center;
    align-items: center;

    }

    .textSlide{
    text-align: justify;
    max-width: 250px;
    max-height: 250px;
    padding-top: 1em;
    margin: auto;
    margin-bottom: -10em ;
    }

    .textSlide h2 {
        font-size: 2em;
    }
    .textSlide h3{
        font-size: 1.2em;
    }

    .corpoSlide {
        margin: auto;
        max-width: 300px;
    }

    .card{
        min-width: 300px;
    }
    .card img{
        max-width: 300px;
    }

}